<!-- Template: Listens for the selectedCategory event and calls onCategorySelected when the event is emitted -->
<app-header
  [categories]="categories"
  (selectedCategory)="onCategorySelected($event)"
></app-header>
<main>
  <div class="tags-container">
    <ul class="tags-list">
        <li *ngFor="let tag of tags" class="tag" (click)="onTagSelected(tag.name)" [ngClass]="{'selected-tag': filteredTags?.includes(tag.name)}">{{tag.name}}</li>
    </ul>
  </div>
  <div class="card-container">
    <app-project-card
      *ngFor="let project of projects"
      [project]="project"
      [categories]="categories"
    ></app-project-card>
  </div>
</main>
